{
  "presets": [
    ["env", {
      "target": {
        "browser": "> 2%"
      }
    }], "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-runtime"
  ]
}
